<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" rev="stylesheet" href="https://include.anjukestatic.com/anjuke-member/res/20191223.6373.0/b/Member_Web_Login_Form.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" rev="stylesheet" href="https://include.anjukestatic.com/anjuke-member/res/20191223.6373.0/b/Member_Web_Login_IframeForm.css" type="text/css">

    <script th:inline="javascript" type="text/javascript">
        function setStyleDisplay() {
            const message = [[${loginMessage}]];
            if (message === "账号或密码错误") {
                document.getElementById("passError").style.display = "block";
            }
        }

        function setStyle() {
            document.getElementById("passError").style.display = "none";
        }
    </script>
</head>
<body onload="setStyleDisplay()">
<div class="content" id="content" style="width: 100%;">

    <div class="iframe-login-wrap" id="iframeLoginWrap">
        <div class="login-content not-in-layer  ">
            <!-- form-content -->
            <div class="form-content" id="ifmFormContent">
                <div class="tab-selected">
                    <span class="" id="pwdTitle">账号密码登录</span>
                </div>
            </div>
            <!-- pwd form -->
            <form class="form" autocomplete="off" id="pwdLoginForm" action="/userLogin" method="post">
                <div class="item itemNode">
                    <div class="control-item-wrap auto-list-item-wrap">
                        <div class="control-item controlItemNode">
                            <img class="icon-space"
                                 src="https://pages.anjukestatic.com/usersite/touch/img/user/login/icon_man@2x.png"
                                 width="20px" height="20px" alt="">
                            <input class="ipt" id="pwdUserNameIpt" type="text" name="username" maxlength="30"
                                   placeholder="请输入用户名" value="" tabindex="1" onfocus="setStyle()">
                            <div class="sms-btn-box">
                                <img id="userNameCleanBtn" style="display: none;"
                                     src="//img.58cdn.com.cn/m58/m3/img/delinput.png" class="phoneCleanBtn">
                            </div>
                        </div>
                    </div>
                    <p class="hidden error errorItem" id="errorItemTopPwd">错误～</p>
                </div>
                <div class="item itemNode">
                    <div class="control-item-wrap">
                        <div class="sms-transition" id="pwdTransitionNode">
                            <div class="control-item controlItemNode">
                                <img class="icon-space"
                                     src="https://pages.anjukestatic.com/usersite/touch/img/user/login/icon_lock@2x.png"
                                     width="20px" height="20px" alt="">
                                <input class="ipt" id="pwdIpt" type="password" name="password" maxlength="40"
                                       placeholder="请输入密码" tabindex="2" onfocus="setStyle()">
                                <div class="sms-btn-box">
                                    <img id="pwdCleanBtn" style="display: none;"
                                         src="//img.58cdn.com.cn/m58/m3/img/delinput.png" class="phoneCleanBtn">
                                    <img class="icon-space-right" id="pwdVisible"
                                         src="https://pages.anjukestatic.com/usersite/touch/img/user/login/icon_eyeclose@3x.png"
                                         width="20px" height="20px" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="hidden error errorItem">错误～</p>
                </div>

                <input class="submit-btn" id="pwdSubmitBtn" type="submit" value="立即登录">
            </form>
            <section id="passError" style="display:none" >
                <div class="toast">该用户名与密码不符</div>
            </section>
            <!-- pwd form end -->
        </div> <!-- form-wrap end -->
    </div> <!-- form-content end -->
</div>
</body>
